<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.sdm.commons.beans"/>
        <package name="com.sdm.commons.vo"/>
    </typeAliases>
    <mappers>
        <package name="com.sdm.dao"/>
    </mappers>
</configuration>